.Footer {
  display: flex; 
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 300;
  background: #000;
  font-family: 'Roboto';
    min-height: 24px;
    color: #fff !important;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
  margin: 0px 0px 0px 0px;
    padding: 12px 20px;
}
@media only screen and (max-width: 770px) {
  .Footer {
    position: relative;
  }
}

p {
  margin: 0px;
}